{% extends 'base.html' %}

{% block content %}
<div class='jumbotron text-center'>
	<h1 class='display-4'>Cross-Multiply Two Vectors</h1>
	<hr class='my-5'>
	<form method='POST' id='vectorForm'>
		<p id='form_help'>
			Enter two vectors as strings of comma-separated integers.
		</p>
		<div class='alert alert-danger text-left' id='non_field_errors_errors' style='display:none;'>
			<h4 align='center'>Submission Errors Detected</h3>
			<hr>
			<dl id="non_field_errors_errors_list"></dl>
		</div>

		<div class='form-row'>
			<div class='form-group col'>
				<label for='vector1' class='sr-only'>Vector 1</label>
				<input type='text' class='form-control' id='vector1' name='vector1' 
					placeholder='Vector 1 (ex: 1,2,3)'>
				<div class='alert alert-danger mt-2' id='vector1_errors' style='display:none;'>
					<dl id="vector1_errors_list"></dl>
				</div>
			</div>
			<div class='form-group col'>
				<label for='vector2' class='sr-only'>Vector 2</label>
				<input type='text' class='form-control' id='vector2' name='vector2' 
					placeholder='Vector 2 (ex: 4,5,6)'>
				<div class='alert alert-danger mt-2' id='vector2_errors' style='display:none;'>
					<dl id="vector2_errors_list"></dl>
				</div>
			</div>
		</div>
		<button type='submit' class='btn btn-primary mt-2' id='calculate-submit'>Calculate Cross-Product</button>
	</form>
</div>


<h3>Most Recent Computed Results</h3>
<div class='pagination-control' id='pagination'>
	<form class='form-inline mb-2'>
		<label for='page-jumper'>
			Enter a number to jump to a page
		</label>
		<input id='page-jumper' class='form-control form-control-sm mx-2' 
			name='page' type='number' min='1' max='1'>
		<button type='submit' class='btn btn-primary btn-sm'>go</button>
	</form>
</div>
<p id='page-numbers'>Current: page <span id='currentpage'>1</span> of <span id='maxpages'>1</span></p>
	<table class='table table-hover table-bordered' align='center'>
		<thead>
			<tr>
				<th>Vector 1</th>
				<th>Vector 2</th>
				<th>Cross Product</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody id='computedResultsTableBody'>
			<tr id='noComputedResultsRow'>
				<td colspan='4' align='center' id='noComputedResultsAlert' class='table-primary'>
					Loading Computed Results...
				</td>
			</tr>
		</tbody>
	</table>

<script>
//Normally this would all be broken out into its own file(s), which would then be minified/obfuscated
//The original source code has been kept here for readibility

$(document).ready(function(){
	
	//initialize this array for use later when targeting error messages to reset; helps DRYness
	var error_container_array = ['non_field_errors_errors', 'vector1_errors', 'vector2_errors']
	
	var starting_list_url = "{% url 'api:crossproduct-list' %}"
	//If a page number argument is present, be sure to grab the right page of results
	if (get_url_vars()['page']){
		starting_list_url += ("?page=" + get_url_vars()['page']);
		$("#currentpage").text(get_url_vars()['page']);
	} 
	populate_computed_results(starting_list_url);
	

	$("#vectorForm").on('submit', function(event){
		event.preventDefault();
		reset_error_containers(error_container_array);
		create_cross_product();
		//clear these values after submission to avoid confusion & duplication
		$("#vector1").val('');
		$("#vector2").val('');
	});

	function create_cross_product(){
		//Takes two vectors supplied in our form, sends them to the server,
		//gets the result/response, and prepends the formatted result to our table
		$.ajax({
			url: "{% url 'api:crossproduct-list' %}?format=json",
			type: "POST",
			data:{
				vector1: $("#vector1").val(),
				vector2: $("#vector2").val(),
				csrf_token: "{%csrf_token%}"
			},
			dataType: 'json',
			success: function(response){
				//prepend so that it always appears at the top of the visible table, even if a user is adding
				//from several pages of results deep
				prepend_result_to_table(response);
				//replace current help text
				$("#form_help").text("Calculation complete! Your results are highlighted below.\
					Enter new comma-separated vectors to calculate a new cross-product.")
			},

			error: function(xhr, errmsg, err){
				$.each(JSON.parse(xhr.responseText), function(k, v){
					//keys come in like vector1, vector2 etc.
					//build selectors from them to get values where you want 
					///them & show appropriate containers
					$("#" + k + "_errors_list").append("<p>" + v + "</p>");
					$("#" + k + "_errors").show();
				});
			}
		});
	};

	function populate_computed_results(url){
		//Populates our data display table with the CrossProduct objects appropriate
		//for the page requested (if any)
		$.get(url, function(data){
			if ( data['results'].length === 0 ){
				//No results in DB, show a sane message
				$("#noComputedResultsAlert").text("No Computed Results To Display. Yours could be the first!")
			}
			else {
				$("#noComputedResultsRow").remove();
				$.each(data['results'], function(id, crossProduct){
					//Append here since we are relying on db ordering
					append_result_to_table(crossProduct);
				});
				if ( data['count'] <= 25 ){
					//only one page; no need for pagination controls
					$("#pagination-control").hide();
				}
				else {
					$("#pagiation-control").show()
					//figure out our last page number. 25 results per page by default
					var max = Math.ceil(data['count']/25);
					$("#page-jumper").attr('max', max)
					$("#maxpages").text(max);
				}
			}
		}).fail(function(){
			//a failure here is a 404, which means we probably typed in an out-of-range page number
			$("#noComputedResultsAlert").html(
				"<p>Error: no results for that URL. Did you specify an invalid page number?</p>\
				<a href='" + "{% url 'home' %}" + "''>\
				Back To Safety</a>").removeClass("table-info").addClass("table-danger");
			$("#page-numbers").hide();
		});
	};

	function append_result_to_table(crossProduct){
		$("#computedResultsTableBody").append(
			"<tr><td>" + crossProduct.vector1 + "</td>" +
			"<td>" + crossProduct.vector2 + "</td>" + 
			"<td>" + crossProduct.result + "</td>" + 
			"<td>" + crossProduct.created + "</td></tr>"
		);
	}

	function prepend_result_to_table(crossProduct){
		//used to prepend newly-created crossproducts, so that users can see their results
		//at the top of the table even if they're doing calculations from several pages
		//deep in the results. 
		$("#noComputedResultsRow").remove();
		$("#computedResultsTableBody").prepend(
			"<tr class='table-primary'><td>" + crossProduct.vector1 + "</td>" +
			"<td>" + crossProduct.vector2 + "</td>" + 
			"<td>" + crossProduct.result + "</td>" + 
			"<td>" + crossProduct.created + "</td></tr>"
		);
	}

	function reset_error_containers(error_container_array){
		//clear text of error container children and hide them
		$.each(error_container_array, function(k, v){
			$("#" + v + "_list").text('');
			$("#" + v).hide();
		});
	}

	function get_url_vars(){
		//get querystring arguments from a url
		//usage: get_url_vars()['page'] to get value of ?page= 
		var vars = [], hash;
		//grab URL from window, slice at querysting, split on any additional args
		var args = window.location.href.slice(window.location.href.indexOf("?")+1).split("&");
		for (var i = 0; i < args.length; i ++){
			//split key from value
			arg = args[i].split('=');
			//push key to vars
			vars.push(arg[0]);
			//set vars[key] = value
			vars[arg[0]] = arg[1];
		}
		return vars;
	}

});
</script>
{% endblock content %}	