{% extends 'base.html' %}

{% block content %}
<div class='jumbotron text-center'>
	<h1 class='display-4'>Cross-Multiply Two Vectors</h1>
	<hr class='my-5'>
	<form method='POST' id='vectorForm'>
		<div class='form-row'>
			<div class='form-group col'>
				<label for='vector1'>Vector 1</label>
				<input type='text' class='form-control' id='vector1' name='vector1' placeholder='1,2,3'>
			</div>
			<div class='form-group col'>
				<label for='vector2'>Vector 2</label>
				<input type='text' class='form-control' id='vector2' name='vector2' placeholder='4,5,6'>
			</div>
		</div>
		<button type='submit' class='btn btn-primary mt-2'>Calculate Cross-Product</button>
	</form>
</div>

<script>
$(document).ready(function(){

	$("#vectorForm").on('submit', function(event){
		event.preventDefault();
		create_cross_product();
	});

	function create_cross_product(){
		$.ajax({
			url: "{% url 'api:crossproduct-list' %}?format=json",
			type: "POST",
			data:{
				vector1: $("#vector1").val(),
				vector2: $("#vector2").val(),
			},

			success: function(json){
				console.log('success');
			},

			error: function(xhr, errmsg, err){
				console.log(xhr.status + ": " + xhr.responseText);
			}
		});
	};

});
</script>
{% endblock content %}